* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  /*outline: 1px solid red !important;*/ }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: silver; }

.body__servicios {
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.body__novedades {
  background-image: url("../assets/webp/patron_rombo.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.body__nosotros {
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.body__contacto {
  background-image: url("../assets/negocios.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

img {
  border-radius: 5%; }

.txt__institucional {
  margin-bottom: 3.5rem;
  font-size: 1.1rem;
  color: white; }
  .txt__institucional :hover {
    transform: scale(1.1);
    transition: ease-in-out 0.1; }

.videoPresentacion {
  padding-top: 4rem; }

.fuente__titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

.fuente__titulo2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500; }

.fuente__texto {
  font-family: "Roboto Condensed", sans-serif; }

.carousel-JS {
  max-width: 100%;
  height: auto; }

.carousel-inner img {
  max-height: 31.25rem; }

.carousel-caption {
  font-size: 1rem;
  top: 40%;
  bottom: auto; }

.nav-item a {
  text-decoration: none;
  margin: 0.625rem;
  font-size: 1.25rem; }

.nav-link:hover {
  color: aquamarine;
  transform: scale(1.1);
  transition: ease-in-out 0.1; }

.navbar-brand img:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.1; }

.site-footer {
  height: 3rem; }

.iconos-redes a {
  text-decoration: none;
  color: white;
  margin: 0.625rem;
  font-size: 1.5rem; }

.iconos-redes a:hover {
  color: aquamarine;
  transform: scale(1.1);
  transition: ease-in-out 0.1; }

.noticia img {
  height: 10rem;
  padding-bottom: 0.3125rem; }

.noticia img:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.1; }

.noticia p {
  color: white; }

.cont__servicios {
  padding: 1rem;
  margin: 1rem;
  color: white; }

.servicio {
  padding-top: 1rem;
  border-radius: 2%;
  background-color: rgba(40, 40, 40, 0.7); }
  .servicio img {
    padding: 0.3125rem; }
  .servicio img:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.1; }

.formulario {
  margin-top: 1rem;
  background: #e9e8f4 !important;
  background: linear-gradient(0deg, rgba(233, 232, 244, 0.7) 0%, rgba(125, 125, 142, 0.7) 58%, rgba(40, 40, 40, 0.7) 82%) !important;
  border-radius: 5%;
  color: white; }

.btn:hover {
  background: aqua;
  transform: scale(1.1);
  transition: ease-in-out 0.1; }
