*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    /*outline: 1px solid red !important;*/
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-image: url(../assets/bg.jpg);
    min-height: 100vh;
}
a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

img{
    border-radius: 15%;
}
.header__nav{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.25rem 0rem;
    width: 100%;
}
.logo{
    width: 3.125rem;
    position: absolute;
    top: 7px;
    border-radius: 15%;
}
.link{
        display: inline;
        margin: 0 0.625rem;
        
}
.contLink{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:end;
    max-width: 70%;
    text-align: end;
    font-size: 1.125rem;
}
a{
    text-decoration: none;
    color: white;
}
.contMain{
    /*display:flex;
    flex-direction: row;*/
    /*height:100vh;*/
    display:grid;
    grid-template-areas:
    "slide_Titulo1"
    "slide_Titulo3"
    "slide_img"
    ".";
    grid-template-rows: 1rem 1rem 1fr;
    grid-template-columns: 1fr;
    min-height:100vh;    
}

.contHero{
    display: flex;
    flex-direction: column;
}
.slide__titulo1{
    height: 1.875rem;
    display:flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 0.9375rem;
}
.slide__titulo3{
    height:1.25rem;
    display:flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    /*text-align: center;*/
    color: white;
    padding: 0.9375rem;
}
.cont__cards{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    padding: 0.625rem;
    /*background-color: rgba(0, 0, 0, 0.4);*/
}
.card{
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    width: auto;
    /*overflow:auto;*/
    /*width:15%;*/
    padding:2rem 1rem;
    margin:1rem;
    /*background-color: rgba(0, 0, 0, 0.4);*/
    color:white;
    /*background-color: #E1E1E1;*/
    border-radius:0.9375rem;
    /*display:inline-block;
    position: relative;
    text-align: center;*/ 
    /*padding: 5px 80px 15px 90px;
    margin: auto;*/
}
figcaption{
    padding:0.3125rem 0 0 0;
    font-size: 1rem;
    font-weight: bold;
}
.serviciosTitulo{
    text-align: center;
}
.contNovedades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.noticia__img{
    width: 25%;
    margin: 0;
    margin-left: auto;
}
.noticia__p{
    width:70%;
    margin: 0;
    margin-right: auto;
    color: white;
}
.contServicios{
    display: inline;
    position:relative;
    color:white;
    width: 100%; 
}
.contServicios h2{
    text-align: center;
    width: 30%;
    padding: 0.625rem 0 0.625rem 0
}
.contServicios p{
    display: block;
    position: relative;
    width: 70%;
    left: 18.75rem;
    bottom: 18.75rem;
    padding:0.3125rem 0.625rem;
}
.contFormulario{
    display:grid;
    grid-template-columns: 25rem 18.75rem 6.25rem;
    gap: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1.25rem;
    color: white;
    font-weight: bold;
    font-family:'Segoe UI',Tahoma,Geneva, Verdana, sans-serif;
}
.formTitulo{
    grid-column: 2 / 3;
}
label{
    grid-column: 2 / 3;
}
input{
    grid-column: 2 / 3;
}
textarea{
    grid-column: 2 / 3;
}
.btn:hover{
    background: gold;
}
.wrapperNosotros{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    /*background-color: rgba(14, 147, 140, 0.5);*/
    
}
.contVideo{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.institucional{
    display: flex;
    flex-direction: column;
    width: 45%;
    /*justify-content: center;
    align-self: center;*/
    color: white;
    /*background-color: rgba(0, 0, 0, 0.5);*/
}
.videoPresentacion {
    padding:1.25rem
}

.footer__nav{
    display:flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.625rem 0px; 
    position: absolute;
    width:100%;
    bottom: auto; 
}

.contSocial{
    width: 15%;
    margin: 0;
    margin-left: auto;
}
.copy{
    display:flex;
    flex-direction: column;
    justify-content: start;
    /*display: inline-block;*/
    /*position: absolute;*/
    color:white;
    /* margin: 0;
    margin-right: auto; */
    padding: 0.3125rem 0 0 0.625rem; 
    width: 50%;
}
.linkSocial{
    /*display: inline-block;*/
    display:flex;
    flex-direction: row;
    margin-right:0.3125rem;
    align-items: end;
    padding:0.3125rem 0 0 0;
}
@media (max-width:1200px){
    body{
        font-size: 14px;
    }
}
@media (max-width:768px){
    .videoPresentacion{
        height:auto ;
        width:auto ;
}
@media (max-width:480px){

}
}