* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  /*herramienta de posicion - no borrar!!!*/
  /*outline: 1px solid red !important;*/ }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; }

.body__novedades {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.body__servicios {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.body__nosotros {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  margin: 0; }

.body__contacto {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #f8f9f9 !important; }

.cont__Video {
  min-height: 100vh;
  position: relative; }

.cont__VideoCTA {
  z-index: 2; }
  .cont__VideoCTA h1 {
    font-size: 2.2rem;
    font-weight: 600; }
  .cont__VideoCTA a:focus {
    outline: none; }
  .cont__VideoCTA a:hover {
    transform: translate(0, -5px); }

.video__Presentacion {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1c1c1d;
  opacity: 0.5;
  mix-blend-mode: overlay;
  z-index: 1; }

.buttonCTA {
  display: inline-block;
  text-decoration: none;
  border: none;
  height: 3.125rem;
  border-radius: 1.875rem;
  padding: 0.75rem 0;
  width: 12.5rem;
  background-color: #f5be09;
  font-size: 1rem;
  color: #3f3f3f;
  font-weight: 600;
  transition: 150ms;
  margin-top: 5rem; }

.cont__Satisfacemos {
  min-height: 38rem; }
  .cont__Satisfacemos img :hover {
    transform: scale(1.1);
    transition: ease-in-out 0.1; }

.cont_Principios p {
  color: #777; }

.cont_Principios img :hover {
  transform: scale(1.1);
  transition: ease-in-out 0.1; }

.fuente__titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

.fuente__titulo2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500; }

.fuente__titulo3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

.fuente__texto {
  font-family: "Kumbh Sans", sans-serif;
  color: #777; }

.carousel-JS {
  max-width: 100%;
  height: 100%; }

.carousel-caption {
  font-size: 1rem;
  top: 40%;
  bottom: 12rem; }

.carousel-inner {
  height: 100%; }

.carousel-item {
  min-width: 100%; }
  .carousel-item img {
    max-height: 34.375rem;
    filter: brightness(0.4); }

.nav-item a {
  text-decoration: none;
  margin: 5px;
  font-size: 1.1rem; }

.nav-link {
  padding: 0 !important; }

.nav-link:hover {
  text-decoration: underline !important; }

.navbar {
  background-color: transparent;
  z-index: 2; }
  .navbar-brand img {
    height: 20px; }
  .navbar-brand img:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.1; }

.site-footer {
  height: 3rem;
  background-color: rgba(33, 37, 41, 0.5); }

.iconos-redes a {
  text-decoration: none;
  color: white;
  margin: 0.625rem;
  font-size: 1.5rem; }

.iconos-redes a:hover {
  color: #AB8D4D;
  transform: scale(1.1);
  transition: ease-in-out 0.1; }

.quienes__Somos {
  min-height: 30rem; }
  .quienes__Somos h2 {
    text-align: center; }
  .quienes__Somos p {
    font-size: 1rem; }
  .quienes__Somos img {
    height: 150px; }

.que__Hacemos {
  min-height: 20rem;
  margin-bottom: 1rem;
  background-color: #f8f9f9 !important; }
  .que__Hacemos p {
    font-size: 0.9rem; }
  .que__Hacemos img {
    height: 6.25rem; }
  .que__Hacemos img:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.1; }

.cont__Novedades {
  margin-bottom: 2.5rem;
  margin-right: 0.3125rem !important; }

.noticia {
  max-width: 95%;
  height: auto; }
  .noticia img {
    height: 10rem;
    padding: 0.3125rem; }
  .noticia img:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.1; }

.cont__servicios {
  padding-bottom: 2rem;
  margin: 0.5rem 0.5rem 1.5rem 0.5rem; }

.servicio {
  padding-top: 1rem;
  border-radius: 2%;
  background-color: #f8f9f9; }
  .servicio img {
    padding: 0.3125rem; }
  .servicio img:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.1; }

.formulario {
  max-height: 90%;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #f8f9f9;
  /*color: $texto-blanco;*/ }

.btn:hover {
  background: #276306;
  transform: scale(1.1);
  transition: ease-in-out 0.1; }

.map__Responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }
  .map__Responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }
