*{
    margin: 0;
    padding: 0;
    /*outline: 1px solid red !important;*/
}
body{
    /*display:flex;
    /*flex-direction: column;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: silver;
    /*background-image:url("../assets/bg.jpg");*/
    /*min-height: 100vh;*/
    /*width: 100%;*/
}
/*.body__index{
    background-image: url("../assets/bg.jpg");
}*/
.body__servicios{
    background-image: url("../assets/bg.jpg");
}
.body__novedades{
    background-image: url("../assets/bg.jpg");
}
.body__nosotros{
    background-image: url("../assets/bg.jpg");
}
.body__contacto{
    background-image: url("../assets/negocios.jpeg");
    /*object-fit: cover;
    object-position: center;*/
}

.nav-item a{
    text-decoration: none;
    margin: 0.625rem;
    font-size: 1.25rem;
}
.nav-item a:hover{
    color: aquamarine;
    transform: scale(1.1);
    transition: ease-in-out 0.1s;
}

/*img{
    border-radius: 15%;
}*/
/*.header__nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 1.25rem;
    padding: 1.25rem 1.25rem;
    width: 100%;
}
.logo{
    width: 3.125rem;
    position: absolute;
    top: 7px;
    border-radius: 15%;
}
.link{
    margin: 0 0.625rem;
        
}
.contLink{
    display:flex;
    flex-direction: row;
    margin-right: 1.25rem;
    font-size: 1.125rem;
}
a{
    text-decoration: none;
    color: white;
}*/
.carousel-inner img{
    max-height: 550px;
}
/*.contMain{
    display:grid;
    grid-template-rows: 1rem 1rem 1fr auto;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    grid-template-areas:
    "slide_Titulo1"
    "slide_Titulo3"
    "slide_img"
    ".";
    height:100vh;    
}

.contHero{
    display: flex;
    flex-direction: column;
}
.slide__titulo1{
    height: 1.875rem;
    display:flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 0.9375rem;
}
.slide__titulo3{
    height:1.25rem;
    display:flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 0.9375rem;
}
.cont__cards{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    padding: 0.625rem;
}
.card{
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    width: auto;
    padding:2rem 1rem;
    margin:1rem;
    color: gray;
    background-color:cornsilk;
    border-radius:0.9375rem;
}*/
figcaption{
    padding:0.3125rem 0 0 0;
    font-size: 1rem;
    font-weight: bold;
}
.contNovedades {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.noticia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.noticia img{
    justify-content: center;
    align-items: center;
    height: 10rem;
    /*width: 25%;
    margin-left: auto;*/
}
.noticia p{
/* width:70%;
    margin: 0;
    margin-right: auto;*/
    color: white;
}
.cont__servicios{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "servicio servicio servicio servicio";
    height:80vh;
    width: 100%;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    color:white;
}
.servicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.servicio h2{
    text-align: center;
    /*width: 30%;*/
    padding: 0.625rem 0 0.625rem 0
}
.servicio p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    /*left: 18.75rem;
    bottom: 18.75rem;*/
    padding:0.3125rem 0.625rem;
}
.servicio img{
    justify-content: center;
    align-items: center;
}
.cont__formulario{
    display:grid;
    grid-template-columns: 1fr 18.75rem 1fr;
    grid-template-rows: auto 1fr auto;
    /*/grid-template-areas: " . formulario . ";*/
    gap: 1rem;
    width: 100vw;
    height:100vh;
    }
.formulario{
    grid-column: 2 / 3;
    margin-top: 4rem;
    /*justify-items: center;
    align-items: center;*/
    background: rgb(233,232,244) !important;
    background: linear-gradient(0deg, rgba(233,232,244,0.7) 0%, rgba(125,125,142,0.7) 58%, rgba(40,40,40,0.7) 82%) !important;

    color: white;
}
.formulario label{
    padding: 0.3125rem 0 0 1.25rem;
}
.formulario input{
    padding: 0.3125rem 0 0 2.5rem;
    margin-left:1.25rem;
}
.formulario textarea{
    padding: 0.3125rem 0 0 1.25rem;
    margin-left:1.25rem;
    color: white;
    font-weight: bold;
    font-family:'Segoe UI',Tahoma,Geneva, Verdana, sans-serif;
}
.form__titulo {
    padding: 0.3125rem 0 0 1.25rem;
}
.btn:hover{
    background: gray;
    transform: scale(1.1);
    transition: ease-in-out 0.1;
    
}
.wrapperNosotros{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.contVideo{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.institucional{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 70%;
    font-size: 1.1rem;
    color: white;
}
.videoPresentacion {
    padding:1.25rem
}
/*.footer{
    display: inline;
    position: relative;
    bottom: 0;
}*/
.site-footer{
    height:100px;
}
.iconos-redes a{
    text-decoration:none;
    color: white;
    margin: 0.625rem;
    font-size: 1.5625rem;
}
.iconos-redes a:hover{
    color: aquamarine;
    transform: scale(1.1);
    transition: ease-in-out 0.1s;
}



@media (max-width:1200px){
    body{
        font-size: 14px;
    }
}
@media (max-width:768px){
    .videoPresentacion{
        height:auto ;
        width:auto ;
}
    .cont__servicios{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:"servicio servicio"              
                            "servicio servicio";
}
}
/*@media (max-width:480px){
    .contLink{
        display:flex;
        flex-direction: column;
        justify-content:end;
        text-align: end;
        margin-right: 0;
        font-size: 1.125rem;
}
    .cont__social{
        flex-direction: column;
        justify-content:end;
        text-align: end;
        margin-right: 0;
}
    .cont__servicios{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-areas:"servicio"                                           
                            "servicio"        
                            "servicio"
                            "servicio";
        padding: 0.3125rem;
        margin: 0.3125rem;
}
} 