
.carousel{
    &-JS{
        max-width: 100%;
        height:auto;  
    }
    &-inner img{
        max-height: 31.25rem;
    }
    &-caption{
        font-size: 1rem;
        top: 40%;
        bottom:auto;
    }
}