.noticia {
    img{
        height: 10rem;
        padding-bottom: 0.3125rem;
    }
    img:hover{
        @include hover__Effect
    }
    p{
        color:$texto-blanco;
    }
} 
.cont__servicios{
    padding: 1rem;
    margin: 1rem;
    color:$texto-blanco;
}
.servicio{
    padding-top: 1rem;
    border-radius: 2%;
    background-color: rgba(40,40,40,0.7);
    img{
        padding: 0.3125rem;
    }
    img:hover{
        @include hover__Effect
    }
}