.quienes__Somos{
    min-height: 30rem;
    h2{
        text-align:center;
    }
    p{
        font-size: 1rem;
    }
    img{
        height: 150px;
    }
}
.que__Hacemos{
    min-height: 20rem;
    margin-bottom: 1rem;
    background-color: #f8f9f9 !important;
    p{
        font-size: 0.9rem;
    }
    img{
        height:6.25rem;
    }
    img:hover{
        @include hover__Effect;

    }
}

.cont__Novedades{
    margin-bottom: 2.5rem;
    margin-right:0.3125rem !important;
}
.noticia {
    max-width: 95%;
    height: auto;
    img{
        height: 10rem;
        padding: 0.3125rem;
        
    }
    img:hover{
        @include hover__Effect;
    }

} 
.cont__servicios{
    padding-bottom: 2rem;
    margin: 0.5rem 0.5rem 1.5rem 0.5rem;
}
.servicio{
    padding-top: 1rem;
    border-radius: 2%;
    background-color: #f8f9f9;
    img{
        padding: 0.3125rem;
    }
    img:hover{
        @include hover__Effect;
    }
}

