.formulario{
    margin-top: 1rem;
    background: rgb(233,232,244) !important;
    background: linear-gradient(0deg, rgba(233,232,244,0.7) 0%, rgba(125,125,142,0.7) 58%, rgba(40,40,40,0.7) 82%) !important;
    border-radius: 5%;
    color: $texto-blanco;
}

.btn:hover{
    background: aqua;
    @include hover__Effect
    
}