*{
    margin: 0;
    padding: 0;
    /*outline: 1px solid red !important;*/
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: silver;
}

.body__{
    &servicios{
        background-image: url("../assets/bg.jpg");
        @include background__Props
    }
    &novedades{
        background-image: url("../assets/webp/patron_rombo.webp");
        @include background__Props
    }
    &nosotros{
        background-image: url("../assets/bg.jpg");
        @include background__Props
        
    }
    &contacto{
        background-image: url("../assets/negocios.jpeg");
        @include background__Props
    }
}
img {
    border-radius: 5%;
}

.txt__institucional{
    margin-bottom: 3.5rem;
    font-size: 1.1rem;
    color: white;
    :hover{
        @include hover__Effect
    }
}
.videoPresentacion {
    padding-top: 4rem;
}