*{
    margin: 0;
    padding: 0;
    /*herramienta de posicion - no borrar!!!*/
    /*outline: 1px solid red !important;*/
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.body__{
    &novedades{
        @include background__Props;
        
    }
    &servicios{
        @include background__Props;
        
    }
    &nosotros{
        @include background__Props;
        position: relative;
        margin: 0;
        
    }
    &contacto{
        @include background__Props;
        background-color: #f8f9f9 !important;    
    }
}

.cont__Video{
    min-height: 100vh;
    position: relative;
}
.cont__VideoCTA{
        z-index: 2;
        h1{
            font-size: 2.2rem;
            font-weight: 600;
        }
        & a:focus{
            outline:none;
    }
        & a:hover{
            transform:translate(0, -5px);
        }
}

.video__Presentacion{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
    z-index: 1;
}

.buttonCTA{
    display: inline-block;
    text-decoration: none;
    border:none;
    height:3.125rem;
    border-radius: 1.875rem;
    padding: 0.75rem 0;
    width: 12.5rem;
    background-color:#f5be09;
    font-size: 1rem;
    color: #3f3f3f;
    font-weight: 600;
    transition: 150ms;
    margin-top: 5rem;
}
.cont__Satisfacemos{
    min-height: 38rem;
    img :hover{
        @include hover__Effect;
    }
}
.cont_Principios{
    p{
        color: $gray__Text;
    }
    img :hover{
        @include hover__Effect;
    }
}