@mixin background__Props {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@mixin hover__Effect {
    transform: scale(1.1);
    transition: ease-in-out 0.1;
}