
.nav{
    &-item a{
        text-decoration: none;
        margin: 0.625rem;
        font-size: 1.25rem;
    }
    &-link:hover{
        color: aquamarine;
        @include hover__Effect
    }
}
.navbar-brand img:hover{
    @include hover__Effect
}
.site-footer{
    height:3rem;
}
.iconos-redes{
    a{
        text-decoration:none;
        color: $texto-blanco;
        margin: 0.625rem;
        font-size: 1.5rem;
    }
    a:hover{
        color: $aqua;
    @include hover__Effect;
    }
}