
.nav{
    &-item a{
        
        text-decoration: none;
        margin: 5px;       
        font-size: 1.1rem;
    }
    &-link{
        padding: 0 !important;
    }
    &-link:hover{
        text-decoration: underline !important;
    }
}
.navbar{
    background-color: transparent;
    
    z-index: 2;
    &-brand img{
        height: 20px;
    }
    &-brand img:hover{
        @include hover__Effect
}
}
.site-footer{
    height:3rem;
    background-color: $dark__50;
}
.iconos-redes{
    a{
        text-decoration:none;
        color: $texto-blanco;
        margin: 0.625rem;
        font-size: 1.5rem;
    }
    a:hover{
        color: $sand__medium;
    @include hover__Effect;
    }
}