$aqua: aquamarine;
$texto-blanco: white;
$brown__light:#645026;
$sand__medium: #AB8D4D;
$green__medium: #276306; 
$dark: rgb(33,37,41);
$dark__30: rgba(33,37,41,0.3);
$dark__50: rgba(33,37,41,0.5);
$dark__70: rgba(33,37,41,0.7);
$gray__Text: #777